{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead"
    style="background-image: url('     {{url_for('static',filename= 'assets/img/home-bg.jpg')}}         ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Welcom to the ADD/EDIT Dashboard MR. {{params['admin_user']}}</h1>
                    <span class="subheading">Control pannel designed by {{params['admin_user']}} </span>
                </div>
            </div>
        </div>
    </div>
</header>
<h3>Basic Actions</h3>
<a href="/dashboard"><button type="button" class="btn btn-primary">Dashboard Home</button></a>
<a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>

<br>
<hr>




<h1>Add/edit The Post</h1>



<form id="contactform" action="/edit/{{sno}}" method="post" novalidate >
    <div class="form-floating">
        <input class="form-control" id="poster" name="poster" type="text" value="{{post.poster}}" placeholder="Enter Poster name..."  />
        <label for="name">Poster Name</label>
        <!-- <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div> -->
    </div>
    <div class="form-floating">
        <input class="form-control" id="title" name="title" type="text" value="{{post.title}}" placeholder="Enter title..." />
        <label for="email">Title</label>
        <!-- <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div> -->
        <!-- <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div> -->
    </div>
    <div class="form-floating">
        <input class="form-control" id="slug" name="slug" type="text" value="{{post.slug}}" placeholder="Enter your slug..."  />
        <label for="phone">slug</label>
        <!-- <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div> -->
    </div>
    <div class="form-floating">
        <input class="form-control" id="content" name="content" value="{{post.content}}" placeholder="Enter your content here..." style="height: 12rem" ></input>
        <label for="message">Message</label>
        <!-- <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div> -->
    </div>
    <div class="form-floating">
        <input class="form-control" id="img_file" name="img_file" value="{{post.img_file}}" placeholder="Enter IMG_File..." style="height: 12rem" ></input>
        <label for="message">IMG_File</label>
        <!-- <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div> -->
    </div>


    <br />
    <!-- Submit success message-->
    <!---->
    <!-- This is what your users will see when the form-->
    <!-- has successfully submitted-->
    <div class="d-none" id="submitSuccessMessage">
        <div class="text-center mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
        </div>
    </div>
    <!-- Submit error message-->
    <!---->
    <!-- This is what your users will see when there is-->
    <!-- an error submitting the form-->
    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
    <!-- Submit Button-->
    <button  id="submitButton" type="submit">Send</button>
    
</form>



<!-- Main Content-->

<!-- Pager-->

</div>
</div>
</div>

{% endblock %}